@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" );

.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6b9fb;
    background: linear-gradient(90deg, rgb(248, 160, 222) 0%, rgba(247, 108, 214, 0) 50%, rgb(224, 122, 193)100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 18px -9px hsl(329, 76%, 57%);
  }
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 6px 18px -9px hsl(329, 76%, 57%);
  }
  .login__btn {
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
  }
  .login__btn:hover {
    background-color: hsl(321, 87%, 69%);
  }
  .loginHead {
    padding-bottom: 15px;
    font-family: 'Tilt Prism', cursive;
    font-size: 80px;
  }