@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6b9fb;
    background: linear-gradient(90deg, rgb(246, 198, 232) 0%, rgba(247, 108, 214, 0) 50%, rgb(246, 198, 232)100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 18px -9px hsl(329, 76%, 57%);
  }
  .register__textBox {
    font-family: "Lora", serif;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 6px 18px -9px hsl(329, 76%, 57%);
  }
  .register__btn {
    font-family: "Lora", serif;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .register__btn:hover {
    background-color: hsl(321, 87%, 69%);
  }
  .register div {
    margin-top: 7px;
    font-family: "Lora", serif;
  }
  .registerHead {
    padding-bottom: 15px;
    font-family: "Lora", serif;
    font-size: 80px;
  }