.signInButton {
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    margin: 0 auto;
    background-color: rgb(59, 119, 248);
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 70px;
    margin-top: -60px;
}

.signInButton:hover{
    background-color: hsl(254, 98%, 45%);
  }